.list_column_wrapper {
    min-width: 300px;
}

.list_wrapper,
.list_wrapper_shake {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 80px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    border: 2px solid #ffffff;
    -webkit-animation: swing 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.list_wrapper_shake {
    -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px 0 15px;
}

.list_header input {
    width: 220px;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    border: none;
    background: transparent;
    color: #656565;
}

.cards_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 15px;
}

.list_header_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@-webkit-keyframes shake-top {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
@keyframes shake-top {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}